/* ========== HEADER ========== */
.header {
 position: fixed;      /* sticky ki jagah fixed */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200; 
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.headsearch{
  padding: 8px;
}

.search{
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}

.header.hide {
  transform: translateY(-100%);
  
}

/* Left Section */
.header-left {
  display: flex;
  flex-direction: column;
}

.delivery-time {
  font-size: 0.9rem;
  font-weight: 600;
  color: #22c55e;
  margin: 0;
}

.app-name {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  margin: 2px 0 0 0;
}

/* Right Section */
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.cart-icon-container {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  font-size: 1.4rem;
  color: #333;
}

.notif-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 0.7rem;
  padding: 2px 6px;
  font-weight: 600;
}

.profile-icon {
  font-size: 1.6rem;
  color: #333;
  cursor: pointer;
}
